body {
    background-color: Limegreen;
	font-family: Trebuchet MS;
	
}

h1   { 
       color: Aqua; 
  font-family: Trebuchet MS;
  font-size: 40px ;
}

h2   { 
       color: Tomato; 
       font-family: Trebuchet MS;
       font-size: 30px
}

h3 {
	  color: Coral ;
	  font-family: Trebuchet MS;
	  font-size: 30px
	
}

h4{ color: OrangeRed ;
	  font-family: Trebuchet MS;
	  font-size: 20px
	}
	
	h5{ color: LightGrey ;
	  font-family: Trebuchet MS;
	  font-size: 20px
	}

	

p {
     color: Crimson; 
     font-family: Trebuchet MS;
     font-size: 20px;
	
}


td {
width: 30%
}

ul {
    list-style-type: none;
    margin: 0;
	border: 0;
    padding: 0;
    overflow: hidden;
    background-color:MediumSeaGreen ;
text-align: center;
margin:0 auto;
}

li a {
    float: left;
    display: block;
    color:	#808080;
    padding: 14px 16px;
    text-decoration: none;
text-align: center;
}

li a.Home {
    background-color: 	#7CFC00;
    color: #32CD32 ;
text-align: center;
}

li a:hover:not(.active) {
    background-color: 	#7CFC00;
    color: Black;
text-align: center;
}


p.tilly { 
	color: pink ;
	font-family: Trebuchet MS;
	font-size: 20px ;
}

pre {
    display: block;
	color: #7CFC00 ;
    font-family: monospace;
    white-space: pre;
   font-size: 20px ;
    margin: 3em 0;
}
blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 60px;
    margin-right: 60px;
	font-size: 20px ;
}

